<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ai Image Generator | The New Way To Generate Images</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "assets/logo.png" %}" type="image/x-icon" />
    <!-- Rubik Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Rubik:wght@400;600&display=swap" rel="stylesheet" />
    <!-- BoxIcons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <!-- General Styles -->
    <link rel="stylesheet" href="{% static "styles/database.css" %}" />
</head>

<body>
    <!-- Header -->
    <header>
        <h2>Previously Generated Image</h2>
        <form>
        <button type="button" onclick="location.href='{% url "index" %}'">Back</button>
        </form>
    </header>
    <div id="splash">
        <svg class="ip" viewBox="0 0 256 128" width="256px" height="128px" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <linearGradient id="grad1" x1="0" y1="0" x2="1" y2="0">
            <stop offset="0%" stop-color="#5ebd3e" />
            <stop offset="33%" stop-color="#ffb900" />
            <stop offset="67%" stop-color="#f78200" />
            <stop offset="100%" stop-color="#e23838" />
          </linearGradient>
          <linearGradient id="grad2" x1="1" y1="0" x2="0" y2="0">
            <stop offset="0%" stop-color="#e23838" />
            <stop offset="33%" stop-color="#973999" />
            <stop offset="67%" stop-color="#009cdf" />
            <stop offset="100%" stop-color="#5ebd3e" />
          </linearGradient>
        </defs>
        <g fill="none" stroke-linecap="round" stroke-width="16">
          <g class="ip__track" stroke="#ddd">
            <path d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56" />
            <path d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64" />
          </g>
          <g stroke-dasharray="180 656">
            <path
              class="ip__worm1"
              stroke="url(#grad1)"
              stroke-dashoffset="0"
              d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"
            />
            <path
              class="ip__worm2"
              stroke="url(#grad2)"
              stroke-dashoffset="358"
              d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"
            />
          </g>
        </g>
      </svg>
    </div>

    <div class="container">
        <!-- Background Video -->
        <video src="{% static "assets/back.mp4" %}" autoplay muted loop></video>
        <!-- Result and Loading -->
        <div class="result">
            <div id="loading" style="display: none">
                <div class="wrapper">
                    <i class="bx bx-loader-circle bx-spin" style="color: #ffffff; font-size: 3rem"></i>
                    <h2>Generating . . .</h2>
                </div>
            </div>
            <!-- Image's -->
            <div id="image-grid" style="display: none;"></div>
        </div>
    </div>

    <!-- All Of Js Code's -->
    <script src="{% static "js/database.js" %}" defer></script>
</body>
</html>
